<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageUploader.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
				<key>dateExpires</key>
				<string>24.08.2018</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DisPlayers_Audio_Visualizers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EZAudio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FCAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LLSimpleCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TPCircularBuffer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>327EB47AE5E5DD7AF756B063BC0316308AFCC0C0</string>
						<key>dateExpires</key>
						<string>24.08.2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GQ4Z5YLXHU</string>
						<key>name</key>
						<string>Arman Torosyan</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GQ4Z5YLXHU.com.improvis.carWashingApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GQ4Z5YLXHU</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>GQ4Z5YLXHU.com.improvis.carWashingApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>ImageUploader.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1e96b9de-e195-40fc-a11b-e13f47b32604</string>
				<key>name</key>
				<string>CarWashingDistribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GQ4Z5YLXHU</string>
				<key>name</key>
				<string>Arman Torosyan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
