<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>824174899256-3b9c1406m6671hap0tksap7e9lots1tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824174899256-3b9c1406m6671hap0tksap7e9lots1tn</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Fktxufi9XB_ciLoL5lyoKOfsXN0Oqz0</string>
	<key>GCM_SENDER_ID</key>
	<string>824174899256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.improvis.carWashingApp</string>
	<key>PROJECT_ID</key>
	<string>zyadios-4b500</string>
	<key>STORAGE_BUCKET</key>
	<string>zyadios-4b500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824174899256:ios:19e882002f420c12</string>
	<key>DATABASE_URL</key>
	<string>https://zyadios-4b500.firebaseio.com</string>
</dict>
</plist>